<div class="blox-snippet-page">
  <aside [mdcDrawerContainer]="drawerType" [(open)]="open">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer *ngIf="toolbarSpacer"></div>
      <div mdcDrawerHeader *ngIf="toolbarHeader">
        <div mdcDrawerHeaderContent>
          <div class="profileContainer">
            <img src="assets/images/profile-picture.jpg" id="profileImg">
          </div>
        </div>

      </div>
      <div mdcDrawerContent mdcListGroup>
        <div class="socialLinks">
          <div class="social">
            <a mdcFab [exited]="false" href="https://twitter.com/Andres_Cst" target="_blank"
            i18n-title title="Follow me on Twitter"><span mdcFabIcon class="fab material-icons">
                <i class="fab fa-twitter"></i>
              </span></a>

          </div>
          <div class="social">
            <a mdcFab [exited]="false" href="https://www.linkedin.com/in/castellanosandres" target="_blank"
            i18n-title title="Connect with me at LinkedIn"><span mdcFabIcon class="fab material-icons">
                <i class="fab fa-linkedin-in"></i>
              </span></a>
          </div>
          <div class="social">
            <a mdcFab [exited]="false" href="https://github.com/andruts" target="_blank"
            i18n-title title="Have a look to my work"><span mdcFabIcon class="fab material-icons">
                <i class="fab fa-github"></i>
              </span></a>
          </div>
        </div>
        <nav mdcList>
          <a href="mailto:acastellanosalcocer@gmail.com" mdcListItem i18n-title title="Let's talk!">
            <i mdcListItemGraphic class="fas fa-at material-icons">
            </i>
            <ng-container i18n>
              Email
            </ng-container>
          </a>
          <a href="https://github.com/andruts/Portfolio" target="_blank" mdcListItem i18n-title title="See for yourself">
            <i mdcListItemGraphic class="fas fa-code material-icons">
            </i>
            <ng-container i18n>
              Source code
            </ng-container>

          </a>
          <a href="assets/acastellanos_cv.pdf" target="_blank" mdcListItem i18n-title title="See for yourself">
            <i mdcListItemGraphic class="material-icons">
              picture_as_pdf
            </i>
            <ng-container i18n>
              Curriculum Vitae
            </ng-container>
          </a>

        </nav>

      </div>
    </nav>
  </aside>

  <div #viewport class="blox-snippet-page">
    <header [mdcTopAppBar]="type" [viewport]="viewport" [fixedAdjust]="fixedAdjust" [prominent]="prominent"
      [dense]="dense">
      <div mdcTopAppBarRow>
        <section mdcTopAppBarSection alignStart>
          <a href="javascript:void(0)" mdcTopAppBarNavIcon (click)="toggleDrawer()"
            class="material-icons">account_circle</a>
          <span mdcTopAppBarTitle>Andres Castellanos</span>
        </section>
        <section mdcTopAppBarSection alignEnd>
          <a mdcTopAppBarAction href="/{{nextLocale}}" class="material-icons" i18n-title title="Change language">language</a>
        </section>
      </div>
    </header>
    <main #fixedAdjust>
      <app-terminal></app-terminal>
    </main>
  </div>
